.ant-anchor-link-title {
  margin-right: 24px;
}

.custom-anchor .ant-anchor-link-title {
  text-decoration: none;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  object-fit: cover;
  margin: 10px;
}

.borderTR {
  border-radius: 0px 80px 0px 80px;
}

.borderTL {
  border-radius: 80px 0px 80px 0px;
}

.title {
  font-size: 28px;
  color: #fff;
  left: 0;  
  margin-bottom: 30px;
}

.sub-title {
  font-size: 20px;
  color: #fff;
  left: 0;
  text-align: left;
}

.sub-menu {
  font-size: 16px;
  color: #fff;
  left: 0;
  text-align: left;
  padding: 10px;
}

.btn {
  background-color: #6D1600;
  width: 280px;
  height: 82px;
  border-radius: 0px 32px 0px 32px;
  /* padding: 24px 48px 24px 48px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn-small{
  background-color: #6D1600;
  width: 32px;
  height: 32px;
  border-radius: 0px 12px 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn-name {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.icon-footer {
  font-size: 48px;

}

