.wave {
  width: 100%;
  height: 10px;
  position: relative;
}

.wave::after {
  content: '';
  width: 60%;
  position: absolute;
  height: 50%;
  display: block;
  left: 350px;
  border-bottom: 2px solid black;
  border-radius: 90%;
}

.col {
  position: relative;
}

.row {
  margin: 50px 0;
}

.border-right {
  border-right: 1px solid #dadada;
}

.element-statistic {
  position: absolute;
  top: 26px;
  left: 143px;
  font-size: 24px;
}

.text {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.898);
}

.segment {
  font-size: 20px;
  padding: 20px;
  margin: 30px 0 20px 0;
}

.color-text {
  color: rgba(0, 0, 0, 0.898);
}

:where(.css-dev-only-do-not-override-djtmh8).ant-segmented.ant-segmented-sm {
  border-radius: 24px;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-image .ant-image-img {
  width: 230px;
  height: 200px;
  vertical-align: baseline;
}

img.ant-image-img.image.image-right.css-dev-only-do-not-override-djtmh8 {
}
.image-right {
  border-radius: 0 25%;
}

.image-left {
  border-radius: 25% 0;
}

.image-card {
  margin: 3px 0 0px 10px;
}

.img-card-container {
  margin-bottom: 10px;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-image .ant-image-mask {
  width: 229px;
  margin: 3px 0 0px 10px;
}

.card-container {
  display: block;
  flex-direction: column;
  width: 230px;
  height: 50%;
}

.bg-yellow {
  color: yellow;
}

.btn-small {
  background-color: #6d1600;
  width: 32px;
  height: 32px;
  border-radius: 0px 12px 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.d-flex {
  display: flex;
}

.icon {
  margin-right: 5px;
}

.btn-card {
  top: 35px;
  left: 50px;
}

.end-page {
  margin-top: 10%;
}

h4:where(.css-dev-only-do-not-override-djtmh8).ant-typography,
div:where(.css-dev-only-do-not-override-djtmh8).ant-typography-h4,
div:where(.css-dev-only-do-not-override-djtmh8).ant-typography-h4 > textarea,
:where(.css-dev-only-do-not-override-djtmh8).ant-typography h4 {
  margin-top: 0.5em;
}

.mg-top {
  margin-top: 3rem;
}

.justify-text {
  text-align: justify;
}

.container-about {
  margin: 4rem;
}

/* .size-about */
:where(.css-dev-only-do-not-override-djtmh8).ant-image .ant-image-img {
  width: 300px;
  height: 280px;
}

.overflow-hidden {
  overflow: hidden;
}

.width-50 {
  width: 50%;
}

.height-100 {
  height: 80%;
}

.ant-image-mask-left {
  left: -10px;
  width: 300px;
  height: 280px;
}

.ant-image-mask-right {
  width: 300px;
  height: 280px;
}
