@media screen and (max-width: 576px) {
  .card-page {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .container-about {
    width: 90%;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .statistic-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
  }

  .ant-statistic-title {
    font-size: 8px !important;
  }

  .statistic-line {
    height: 5px;
    margin: 50px 0;
  }

  .statistic-line::after {
    left: 20%;
  }

  .line-testimonial::after {
    left: 49%;
  }

  span.element-statistic {
    margin: -61% 34% 0 0% !important;
    font-size: 10px;
  }
  .statistic-page .ant-statistic-content-value {
    font-size: 10px;
  }
  .ant-statistic-title {
    white-space: nowrap;
    font-size: 15px;
  }
  .blog-page-line::after {
    left: 22%;
  }
  .card-line-page::after {
    left: 49%;
  }
  .meta-card-image {
    margin: 2px 0 2px -6px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .statistic-line::after {
    left: -20%;
    width: 150%;
  }
  .statistic-line {
    height: 5px;
    margin: 50px 0;
  }
  .statistic-page .ant-row-center {
    width: 230%;
    justify-content: start;
    margin-left: -25%;
  }
  .line-testimonial::after {
    left: 21% !important;
  }
  .card-line-page::after {
    left: 21% !important;
  }
  .blog-page-line::after {
    left: 21% !important;
  }
  span.element-statistic {
    margin: 2% 0 0 4%;
    font-size: 20px;
  }
  .ant-image-preview-operations {
    margin-right: 20%;
    margin-bottom: 30%;
  }
  .ant-image-preview-img {
    width: 50%;
    margin-right: 22%;
  }
}

@media screen and (min-width: 1024px) {
  .statistic-line::after {
    left: -20%;
    width: 150%;
  }
  .statistic-line {
    height: 5px;
    margin: 50px 0;
  }
  .statistic-page .ant-row-center {
    width: 230%;
    justify-content: start;
    margin-left: -25%;
  }
  .line-testimonial::after {
    left: 21% !important;
  }
  .card-line-page::after {
    left: 21% !important;
  }
  .blog-page-line::after {
    left: 21% !important;
  }
  span.element-statistic {
    margin-left: 8% !important;
    font-size: 20px;
  }
}
